<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../cells-contact-avatar/cells-contact-avatar.html">
<link rel="import" href="../cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="../cells-icon-message/cells-icon-message.html">
<link rel="import" href="../cells-st-button/cells-st-button.html">
<link rel="import" href="../cells-checkbox-button/cells-checkbox-button.html">
<link rel="import" href="cells-bfm-credentials-styles.html">
<dom-module id="cells-bfm-credentials">
  <template>
    <style include="cells-bfm-credentials-styles"></style>
    <div class="title">
      <cells-contact-avatar alt="[[title.name]]" initials-count="2"></cells-contact-avatar>
      <h1 class="title-text">[[title.text]]</h1>
    </div>
    <div class="credentials-form-container">
      <p class="text-head-form">[[form.text]]</p>
      <cells-molecule-input class="input" name="[[inputAccount.name]]" label="[[inputAccount.placeholder]]" value-changed="_setDataForm" ></cells-molecule-input>
      <cells-molecule-input class="input invalid" type="password" icon="[[inputPassword.icon]]" icon-toggled="[[inputPassword.toggleIcon]]" icon-label="View or hide password" name="[[inputPassword.name]]" label="[[inputPassword.placeholder]]" value-changed="_setDataForm"></cells-molecule-input>
      <template is='dom-if' if='[[hasError]]'>
          <cells-icon-message class="inline" type="error" icon="coronita:alert" message="[[form.errorPassword]]"></cells-icon-message>
          <cells-icon-message class="inline" type="error" icon="coronita:alert" message="[[form.errorAttemp]]"></cells-icon-message>
      </template>
      <div class="save-info-container">
        <cells-checkbox-button name="[[form.savePassName]]" on-selected-option-changed="_setDataForm">
          <span>[[form.savePassTitle]]</span>
          <span>[[form.savePassContent]]</span>
        </cells-checkbox-button>
      </div>
      <cells-st-button on-click="_sendInfo" class$="[[form.buttonClass]]" >
        <button disabled="[[form.buttonDisabled]]">[[form.buttonText]]</button>
      </cells-st-button>
    </div>
  </template>
  <script src="cells-bfm-credentials.js"></script>
</dom-module>