@import "bower_components/cells-sass/main";

:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply --cells-bfm-credentials;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  font: inherit;
  box-sizing: inherit;
}
.title{
  display: flex;
  align-items: center;
  margin-bottom:1.5rem;
  @apply --cells-bfm-credentials-title;
}
.title-text{
  margin: 0 0 0 1rem;
  font-size: 26px;
  font-weight: bold;
  font-family: Benton Sans;;
  color: var(--cells-bfm-credentials-title-text-color, #121212);
  @apply --cells-bfm-credentials-title-text;
}
.text-head-form{
  margin: 0 0 1rem 0;
  font-size: 15px;
  @apply --cells-bfm-credentials-text-head-form;
}

.input{
  margin-bottom: 1rem;
  @apply --cells-bfm-credentials-input;
  &.error{
    border-bottom: 1px solid #CB353A;
    --cells-molecule-input-field-label-color:#{'{
      color:var(--cells-bfm-credentials-error-color,#B92A45);
    }'};
    @apply --cells-bfm-credentials-error-input;
  }
}


